*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
    scroll-behavior: smooth;
}

html, body{
    scroll-behavior: smooth;
}

ul{
    padding: 0;
}
header{
    background-color: #7076dc;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a{
    color: white;
    padding: 8px;
    transition: 1s;
}
header nav a:hover{
    border-bottom: 1px solid #b6cbf1;
   
}
.grupo{
    height: 100vh;
    background-color: #b6cbf1 ;
}
#pagina1{
    height: 110vw;
    background-color: #b6cbf1;
    background-repeat: no-repeat;
    display: flex;
    
}
.imagem-1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.jay{
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 2;
    margin-left: 10%;
}
#pagina1 h1{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 105px; 
    text-align: center; 
    z-index: 3;
}

.img-atomo{
    position: absolute; 
    top: 110%; 
    left: 95%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    z-index: 3;
}

.conteudo{
    position: absolute;
    height: 40%;
    width: 80%;
    top: 145%;
    left: 3%;
}

.conteudo h3{
    margin-top: -9%;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Rhodium Libre', cursive;
}

.conteudo h1{
    display: flex;
    position: absolute;
    right: -50%;
    font-family: 'Italianno', cursive;
}


.titulo h1{
    white-space: nowrap;
    font-size: 30px;
    color: black;
    margin-top: -30%;
}

#pagina2{
    background-color: bisque;
}

#pagina3{
    background-color: red;
}

#pagina4{
    height: 60vw;
}

#img1{
    transform: translateY(80%);
    padding: 20px;
}
#img2{
margin-left: 20%;
transform: translateY(80%);
}
#titulocuri{
    font-size: 150px;
    max-width: 50%;
    margin-top: 15%;
}
#div1{
    max-width: 50%;
}
#texto1{
    max-width: 30%;
    right: 0;
    transform: translateY(-90%);
    margin-left: 60%;
    font-size: 35px;
    background-color: #99A0DB;
    border-radius: 10px;
    
}
#texto2{
    max-width: 40%;
    font-size: 36px;
    transform: translateX(20%);
    transform: translateY(-55%);
    background-color: #99A0DB;
    border-radius: 10px;

    
}
#text2{
    padding: 50px;

}
#texto3{
    max-width: 40%;
    font-size: 36px;
    background-color: #99A0DB;
    margin-left: 55%;
    transform: translateY(-180%);
    border-radius: 10px;
}